<ion-content padding>

    <ion-grid>
        <ion-row justify-content-center align-items>
            <ion-col size-sm="8" size-md="4" size-lg="3" size-xl="3">

                <h1 text-center>
                    <ion-icon name="done-all" color="primary" class="icon-7em"></ion-icon>
                </h1>

                <form [formGroup]="authForm" (submit)="onSubmit(authProviders.Email)">

                    <ng-container *ngIf="!configs.isSignIn">
                        <ion-item>
                            <ion-icon name="person" color="primary" slot="start"></ion-icon>
                            <ion-input type="text" formControlName="nome" placeholder="Nome"></ion-input>
                            <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('required')">
                                Obrigatório
                            </ion-note>
                            <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('minlength')">Mínimo
                                de 3
                                caracteres</ion-note>
                        </ion-item>
                    </ng-container>

                    <ion-item>
                        <ion-icon name="mail" color="primary" slot="start"></ion-icon>
                        <ion-input type="email" formControlName="email" placeholder="Email" inputmodel="email"
                            autofocus="true">
                        </ion-input>
                        <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
                            Obrigatório</ion-note>
                        <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">E-mail
                            Inválido
                        </ion-note>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="lock" color="primary" slot="start"></ion-icon>
                        <ion-input type="password" formControlName="senha" placeholder="Senha"></ion-input>
                        <ion-note slot="end" color="danger" *ngIf="senha.dirty && senha.hasError('required')">
                            Obrigatório</ion-note>
                        <ion-note slot="end" color="danger" *ngIf="senha.dirty && senha.hasError('minlength')">Mínimo de
                            6
                            caracteres</ion-note>
                    </ion-item>

                    <ion-button expand="block" type="submit" [disabled]="authForm.invalid">{{configs.action}}
                    </ion-button>
                </form>

                <ion-button expand="block" fill="clear" (click)="changeAuthAction()">{{configs.actionChange}}
                </ion-button>
                <ion-button expand="block" (click)="onSubmit(authProviders.Facebook)">
                    <ion-icon name="logo-facebook" slot="start"></ion-icon>
                    Logar com Facebook
                </ion-button>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>