<ion-header>
    <ion-toolbar color="primary">
            <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
        <ion-title>Tasks-list</ion-title>
        <app-logout-button slot="end" menu="main-menu"></app-logout-button>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list *ngIf="(tasks$ | async) as tasks">
        <ng-container *ngIf="tasks.length > 0; else noTasks">
            <app-task-item *ngFor="let task of tasks" [task]="task" 
            (update)="onUpdate($event)" 
            (delete)="onDelete($event)"
            (done)="onDone($event)">
            </app-task-item>
        </ng-container>
        <ng-template #noTasks>
            <ion-item lines="none">No Tasks yet...</ion-item>
        </ng-template>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/tasks/create" routerDirection="foward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>